$white: rgb(255, 255, 255);
$white-dark: rgb(243, 243, 243);
$main-dark: rgb(32, 32, 32);
$main-light: rgb(226, 226, 226);
$dark-light: rgb(216, 216, 216);
$grey-dark: rgb(85, 85, 85);
$grey-light: rgb(189, 189, 189);

$info: rgb(22, 123, 255);
$info-small-dark: rgb(14, 96, 204);
$info-dark: rgb(19, 70, 138);
$dark-overlay-bg: rgba(0,0,0,0.4);

$danger: rgb(233, 49, 3);